# Node.js
node_modules/

# Electron build output
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Sistema operacional
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Arquivos temporários
*.tmp
*.swp

# Outras pastas comuns
coverage/
.env
.env.* 